@media(min-width:1200px) {
  .frontPageForm {
    display:flex;
    grid-area:contact;
    flex-direction: column;
    min-width: 360px;
    margin:5%;
    gap:10px;
  }
  .frontPageFormPhone {
    display:flex;
    grid-area:phone;
    flex-direction: column;
    min-width: 360px;
    margin:5%;
    gap:10px;
  }
   .frontPagePlayers {
    display:flex;
    grid-area:players;
    flex-direction: column;
    min-width: 360px;
    margin:5%;
    gap:10px;
  }
  .frontPageAddNew {
    display:flex;
    grid-area:addNew;
    flex-direction: column;
    min-width: 360px;
    margin:5%;
    gap:10px;
  }
  .phoneResult {
    display:flex;
    flex-direction: column;
    gap:10px;
    grid-area: result;
    max-width:360px;
    margin:5%;
  }
}  

@media(max-width:1199px) {
  .frontPageForm {
    display:flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
    gap:10px;
  }
  .frontPageFormPhone {
    display:flex;
    flex-direction: column;
    width: 360px;
    margin: 2rem auto 1rem auto;
    gap:10px;
  }
  .frontPagePlayers {
    display:flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
    gap:10px;
  }
  .frontPageAddNew  {
    display:flex;
    flex-direction: column;
    width: 360px;
    margin: 2rem auto 1rem auto;
    gap:10px;
  }
  .phoneResult {
    display:flex;
    flex-direction: column;
    gap:10px;
    width:360px;
    margin:2rem auto 1rem auto;
  }
}  

  .frontPageForm h2, .frontPageFormPhone h2, .frontPagePlayers h2, .frontPageAddNew  h2 {
    margin-bottom:2rem;
    animation: slide-up-fade-in 0.3s ease-out forwards;
  }

  .frontPageForm textarea {
    font-size: 16px;
  }
  .formName, .formEmail, .frontPageFormPhone input, .frontPageAddNew input{
    height: 30px;
    font-size: 16px;
  }
  .frontPageForm button, .frontPageFormPhone button, .frontPageAddNew  button {
    height:30px;
    font-weight:800;
    border:2px solid #0886c5;
    background-color:darkgreen;
    color: #ededed;
  }
  .frontPageForm button:hover, .frontPageFormPhone button:hover, .frontPageAddNew  button:hover {
    border:2px solid #0886c5;
    background-color:#0886c5;
    color: #ededed;
  }
  
  .goBack {
    margin-top:30px;
    height:30px;
    font-weight:800;
    width:100%;
    border:2px solid #0886c5;
    background-color:darkgreen;
    color: #ededed;
  }
  .goBack:hover {
    border:2px solid #0886c5;
    background-color:#0886c5;
    color: #ededed;
  }

  @keyframes slide-up-fade-in {
  0% {
    transform: translateX(300px);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
} 

.successMessage {
  margin-top: 3rem;
}
.successMessage h2{
  margin-bottom: 3rem;
}
.error {
    color: orange;
}


.frontPagePlayers h2 {
  margin-bottom: 2rem;
  animation: slide-up-fade-in 0.3s ease-out forwards;
}
.frontPagePlayers ul li  {
  display: flex;
  flex-direction: column;
  border: 5px solid darkgreen;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
}

.frontPagePlayers ul li h3 {
  margin: 0 auto;
  padding: 1rem;
  color: white;
}
.frontPagePlayers ul li p {
  margin: 0 auto;
  padding: 0.5rem;
  color: white;
}