.main {
  display:grid;
  grid-template-areas: 
  'contact phone'
  'contact result';
  justify-content: center;
  align-items: baseline;
  min-height: 100%;
  position: relative;
  margin-top:4rem;
}